.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filterHeading {
    padding-top: 10%;
    font-size: 18px;
    color: white;
}

.whiteOutline {
    color: #f9f9f9;
    border-color: #f9f9f9 !important;
}
  
.whiteText {
    color: #f9f9f9;
}

.whiteInputLabel {
    color: #f9f9f9;
    border-color: #f9f9f9 !important;
}

.dropdownBox {
    background-color: #f9f9f9;
    border-color: white !important;
  }