.accordion {
  color: #282828;
  padding: 10px;
}

.accordion-title {
  color: #EFEFEF;
}

.accordionDetails {
  color: #282828;
}

.ul {
  padding-left: 0px;
  width: 80%;
  height: 100%;
}

.content {
  padding-left: 6px;
  list-style: none;
  width: 100%;
}

.list {
  /* margin-top: 4%; */
  height: 100%;
  overflow-y: scroll;
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.emptySearch {
  color: #EFEFEF;
}

.pronouns {
  font-style: italic;
}

.category {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 5px;
}

.email {
  font-size: 14px;
  margin-top: 5px;
}
/* 
.list::-webkit-scrollbar {
  display: none;
} */
