.accordion {
  color: #282828;
  padding: 10px;
}

.accordion-title {
  color: #EFEFEF;
}

.accordionDetails {
  color: #282828;
}

.ul {
  padding-left: 20px;
  width: 80%;
}

.content {
  padding-left: 6px;
  list-style: none;
  width: 100%;
}

.list {
  margin-top: 4%;
  height: 7%;
  overflow-y: scroll;
}
/* 
.list::-webkit-scrollbar {
  display: none;
} */
