/* Reset margins, padding, and borders */
html,
main {
  height: 100%;
}
body {
  height: 10%;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set the height of the body and html elements to fill the viewport */
html,
body,
#__next {
  height: 100vh;
  width: 100%;
}